
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}

.card {
  width: 384px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 24px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 10px hsl(0, 0%, 7%);
}

.card > img {
  height: 200px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

.category {
  display: inline-block;
  padding: 4px 12px;
  box-sizing: border-box;
  background-color: hsl(47, 88%, 63%);
  border-radius: 4px;
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  font-size: 14px;
}

.date {
  color: hsl(0, 0%, 7%);
  font-weight: 500;
  font-size: 0.875em;
}

h1 {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  font-size: 1.5em;
}

.summery {
  color: hsl(0, 0%, 42%);
  font-weight: 500;
}

.author {
  padding: 0;
  color: hsl(0, 0%, 7%);
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 0.875em;
}

.author > img {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

h1:focus {
    color: hsl(47, 88%, 63%);   
}
 

@media only screen and (max-width: 376px) {
    .card {
        width: 327px;
        height: 501px;
    }

    .category, .date {
        font-size: 0.75em;
    }

    .h1 {
        font-size: 1.25em;
    }

    p {
        font-size: 0.875em;
    }

    .card > img {
        height: 200px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}